.header {
    display: flex;
    background-color: rgb(27, 36, 43);
    color: white;
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 12%;
    align-items: center;
}

.header h1 {
    text-align: center;
    align-content: center;
    color: white;
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 80%;
}

.header h2 {
    cursor: pointer;
    background-color: rgb(48, 64, 76);
    padding: 5px;
    margin: 10px;
}

.main-container {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 64, 76);
    color: white;
    text-align: left;
    height: 100vh;
}

.hidden {
    display: none;
}

.sidebar div {
    padding: 15px;
    font-size: 24px;
}

.body-section {
    background-color: rgb(70, 93, 110);
    height: 100%;
    padding: 0px;
    border: 0px;
    text-align: center;
    width: auto;
    flex: 1;
}

a {
    color: white;
    text-decoration: none;
}

body, html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgb(27, 36, 43);
}