.main-container {
    display: flex;
}

.user-info-box {
    background-color: #111418;
    color: white;
    margin: 15px;
    width: 30%;
    border: double 1em transparent;
    border-radius: 1.15rem;
    border-width: 5px;
    background-image: linear-gradient(#111418, #111418), 
                    linear-gradient(to right, #fc2776, #ff6630);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.input-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #444;
    outline: none;
    transition: background 0.3s;
    cursor: pointer;
}

.input-range:hover {
    background: #ff6630; /* Color change when hovered */
}


.profile {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.profile-name {
    font-size: 2em;
    margin-top: 0;
    align-content: center;
}

.profile-description {
    font-size: 1.2em;
    color: white;
    justify-content: center;
    text-align: center;
}

.input-text {
    width: 250px;
    height: 25px;
    border-color: white;
    border-width:5px;
    border-radius: 100px;
    text-align: center;
    background-color: black;
    font-size: 16px;
    color: white;
    margin: 5px;
}

.button {
    background-color: black;
    color:white;
    padding: 5px 10px;
    border-color: white;
    border-radius: 100px;
    cursor: pointer;
    margin: 10px;
} 

.change-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: double 1em transparent;
    border-radius: 1.15rem;
    border-width: 0px;
    background-image: linear-gradient(#111418, #111418), 
                    linear-gradient(to right, #fc2776, #ff6630);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 5px;
    margin: 0px;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    position:relative;
    top: -58px;
    left: 200px;
    justify-content: center;
}

.change-info-box label {
    padding-top: 10px;
}

body, html {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: antiquewhite;
}
